
.all{
    background: rgb(218,131,104);
    background: linear-gradient(90deg, rgba(218,131,104,1) 0%, rgba(99,227,28,1) 24%, rgba(24,214,215,1) 35%, rgba(31,204,41,1) 47%, rgba(23,193,32,1) 82%,  rgba(21,195,199,1) 88%, rgba(1,247,252,1) 100%);
}
.virsr{
    font-family: 'Dancing Script', cursive;
    margin: auto;
  width: 0%;
  
}
.text{
    font-family: 'Croissant One', cursive;
    text-align: center;
    padding-left: 150px;
    padding-right:150px;
  float: left;
  margin: 20px;



}
.ola{
    display: block;
    margin-left:45%;
    width: 40%;

 
}
.coocked{
    margin-left: 54%;    
    width: 0%;
   
}
.coocked2{
  
    display: block;
    margin-left: 45%;    
    width: 40%;
    
}
.anime{

    float: left;
    
  margin-left:0%;
}
